<?xml version="1.0" encoding="UTF-8"?>

<suite name="eCom Webapp Test Suite">
<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	
	<test name="starhealth001">
		<classes>
			<class name="phase2.Final.Project.StarHeathTest.StarHealthTest"></class>
	
		</classes>
	</test>
	
	
	<test name="starhealth002">
	
	<classes>
		<class name="phase2.Final.Project.StarHeathTest.StarHealthTest"></class>
	</classes>
	</test>
	
</suite>
